body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #556eab;
}

header {
  background-color: #2b55bd;
  color: #eeedf0;
  text-align: center;
  padding: 10px 0;
}

.desktop-images {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-images {
    display: block;  
    margin-left: 20px; 
  }
  .right { 
    float: right;
  }
  
  .left {
    float: left;
  }

  .desktop-images {
    max-width: 500px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  background-color: #c3ceeb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.center {
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

p, li {
  font-family: Arial;
  font-size: 130%;
}

.advertisement {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.discord, .youtube, .deviantart, .tiktok, .twitter {
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  overflow: hidden;
  max-width: 90%;
  width: 900px;
}

.discord {
  background-color: #7289DA;
}

.youtube {
  background-color: #FF0000;
}

.deviantart {
  background-color: limegreen;
}

.tiktok {
  background-color: #000000;
}

.twitter {
  background-color: #31e8eb;
}

.link {
  color: #6e38c9;
  text-decoration: none;
}

.image-container {
  text-align: center;
}

.image {
  max-width: 100px;
}

.image2 {
  max-width: 500px;
  width: 100%;
}

h2 {
  margin-top: 0;
}

.twitch-logo {
  width: 100px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9146ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
