body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #556eab;
}

header {
  background-color: #2b55bd;
  color: #0f081a;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  background-color: #c3ceeb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.advertisement {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.discord, .youtube, .deviantart, .tiktok {
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  max-width: 400px;
}

.discord {
  background-color: #7289DA;
}

.youtube {
  background-color: #FF0000;
}

.deviantart {
  background-color: limegreen;
}

.tiktok {
  background-color: #000000;
}

.link {
  color: #6e38c9;
  text-decoration: none;
}

.image-container {
  text-align: center;
}

.image {
  max-width: 100px;
}

h2 {
  margin-top: 0;
}

.twitch-logo {
  width: 100px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9146ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
