<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to My Epic Cool Hub</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #556eab;
    }
    header {
      background-color: #2b55bd;
      color: white;
      text-align: center;
      padding: 10px 0;
    }
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }
    .content {
      background-color: #c3ceeb;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .advertisement {
      background-color: #f1f1f1;
      padding: 20px;
      border-radius: 10px;
      margin: 20px auto;
      max-width: 400px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .discord, .youtube, .deviantart,  .Tiktok {
      color: white;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      margin-top: 20px;
      position: relative;
      overflow: hidden;
    }
    .discord {
      background-color: #7289DA;
    }
    .youtube {
      background-color: #FF0000;
    }
    .deviantart {
      background-color: limegreen; /* Lime / Light Green color */
    }
    .Tiktok {
      background-color: #191c21;
      }
    .link {
      color: white;
      text-decoration: none;
    }
    .image-container {
      text-align: center;
    }
    .image {
      max-width: 100px;
    }
    h2 {
      margin-top: 0;
    }
    .twitch-logo {
      width: 100px;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #9146ff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
</body>
</html>
